<html>
    <head>
        {% load staticfiles %}
        <title>Rodale Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/d3.min.js' %}"></script>

        <script src="{% static 'js/common.js' %}"></script>
		<script src="{% static 'js/runnersworld.js' %}"></script>
		
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"></link>
        <link rel="stylesheet" type="text/css" href="{% static 'css/chart.css' %}"></link>
    </head>
    <body>
       <script>
          window.fbAsyncInit = function() {
            FB.init({
              xfbml      : true,
              version    : 'v2.7'
            });
          }; 
          (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        </script>
        
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="network">RODALE's Dashboard</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="womenshealth">Women's Health</a></li>
            <li><a href="menshealth">Men's Health</a></li>
            <li><a href="prevention">Prevention</a></li>
            <li><a href="runnersworld">Runner's World</a></li>
            <li><a href="bicycling">Bicycling</a></li>
            <li><a href="organiclife">Organic Life</a></li>
            <li><a href="rodalewellness">Rodale Wellness</a></li>
          </ul>
        </div>
      </nav>
      
      <div class="container">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Unique Visitors</h3>
          </div>
          <div class="chart_3 panel-body">
            <div class="row">
              <div class="col-md-4"><div class='users_trend'></div></div>
              <div class="col-md-3"><div class='users_sources'></div></div>
              <div class="col-md-3"><div class='users_legend'></div></div>
              <div class="col-md-2"><div class='users_concurrents'></div></div>
            </div>
          </div>
        </div>
        
        <div class="panel panel-info">
		  <div class="panel-heading">
			<h3 class="panel-title">Top Social Posts</h3>
		  </div>
		  <div class="chart_2 panel-body">
			<div class="row">
			  <div class="col-md-4">
				<div id='post1'>
				  <div class="fb-post" 
					  data-href=""
					  data-width="350"></div>
				</div>
			  </div>
			  <div class="col-md-4">
				<div id='post2'>
				  <div class="fb-post" 
					  data-href=""
					  data-width="350"></div>
				</div>
			  </div>
			  <div class="col-md-4">
				<div id='post3'>
				  <div class="fb-post" 
					  data-href=""
					  data-width="350"></div>
				</div>
			  </div>
			</div>
		  </div> 
        </div>
      </div> 
      
      <footer class="footer">
        <div class="container">
          <p class="text-muted">Build by Jialin Zou @2016</p>
        </div>
      </footer> 
         
    </body>
</html>